*{ 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 20px; 
    margin: 0; 
    color: black; 
} 
body{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
 
 
.navbar{ 
    background-color: rgb(119, 130, 226); 
    position: fixed; 
    width: 100%; 
    top: 0%; 
} 
.navul{ 
    display: flex; 
    justify-content: end; 
    margin: 2em; 
} 
 
.navlist{ 
    float: left; 
    display: flex; 
    padding-left: 2em; 
} 
a{ 
    color: black; 
    text-decoration: none; 
} 
 
a:hover{ 
    color: aqua; 
} 
 
 
.upperhome{ 
    margin-top: 3.2em; 
} 
 
.home{ 
} 
 
 
 
.search{ 
    height: 32em; 
    padding-top: 5em; 
} 
.one{ 
    height: 8em; 
    text-align: center; 
    padding-top: 2em; 
} 
.dropsearch{ 
    height: 15em; 
    display: flex; 
    justify-content: center; 
    padding-top: 2em; 
    background-color: #DEBACE; 
    border-radius: 1.5em; 
    margin-left: 1em; 
    margin-right: 1em; 
} 
.from{ 
    padding-top: 2em; 
    width: 55em; 
    border-radius: 0.5em; 
    text-align: center; 
} 
.flight{ 
    display: grid; 
    float: left; 
    background-color: antiquewhite; 
    height: 4.5rem; 
    margin: 0em 0.5rem; 
    border-radius: 0.5em; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    text-align: center; 
} 
input{ 
    border: 0; 
    background-color: transparent; 
    width: 9em; 
} 
 
.flsubmit{ 
    margin-top: 2em; 
    float: right; 
    margin-right: 0.5em; 
} 
 
.journey{ 
    float: left; 
    margin-top: 2em; 
} 
 
 
 
 
li{ 
    list-style-type: none; 
} 
 
.usname{ 
    background-color: transparent; 
    border: 0px; 
} 
 
 
 
 
 
 
 
 
button:not(:disabled){ 
    cursor: pointer; 
} 
.srch{ 
    background-color: transparent; 
    border: 0px; 
} 
.srch:hover{ 
    color: aqua; 
} 
 
 
 
 
 
 
 
footer{ 
    position: relative; 
    width: 100%; 
    display: block; 
    height: 5em; 
    padding-top: 12em; 
    padding-bottom: 1em; 
    background-color: rgba(50, 31, 191, 0.598); 
    bottom: 0; 
    margin-top: 10em; 
} 
footer::after, ::before{ 
    box-sizing: border-box; 
} 
.ful{ 
    margin-block-start: 1em; 
    margin-block-end: 1em; 
    margin-inline-start: 0px; 
    margin-inline-end: 0px; 
    padding-inline-start: 40px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
} 
.footerh1{ 
    text-align: center; 
} 
 
.fli{ 
    list-style-type: none; 
    display: flex; 
    flex-wrap: wrap; 
    padding-right: 1em; 
}

.description-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 40px 0 40px;
    gap: 30px;
}

.desc-card {
    width: 400px;
}

.desc-card p {
    font-size: 15px;
    padding-top: 13px;
    line-height: 1.2;
}

.desc-img {
    width: 30px;
    height: 30px;
    padding-bottom: 15px;
}


/* About page */

.about {
    background-color: #BFACE2;
}
 
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
}

.about-text {
    width: 600px;
}

.about-img {
    width: 500px;
    height: 350px;
    border-radius: 20px;
    margin-right: 40px;
}